{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">О shine
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">Главная</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>О нас</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft Section_columnWide">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'frontend/assets/img/icons/advantages/shipping.svg' %}" alt="shipping.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Доставка & Возврат
                </strong>
                <p class="media-text">Доставка по всему миру
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'frontend/assets/img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Возврат денег
                </strong>
                <p class="media-text">Гарантированные платежи
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'frontend/assets/img/icons/advantages/support.svg' %}" alt="support.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Поддержка
                </strong>
                <p class="media-text">Быстрая служба поддержки 
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'frontend/assets/img/icons/advantages/quality.svg' %}" alt="quality.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Гарантия качества
                </strong>
                <p class="media-text">Товары с наилучшей гарантией
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Подпишитесь на нас
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="Footer-payments Footer-payments_column">
                <div><img src="{% static 'frontend/assets/img/icons/socialContent/fb.png' %}" alt="fb.png"/></div>
                <div><img src="{% static 'frontend/assets/img/icons/socialContent/tw.png' %}" alt="tw.png"/></div>
                <div><img src="{% static 'frontend/assets/img/icons/socialContent/gg.png' %}" alt="gg.png"/></div>
                <div><img src="{% static 'frontend/assets/img/icons/socialContent/in.png' %}" alt="in.png"/></div>
                <div><img src="{% static 'frontend/assets/img/icons/socialContent/pt.png' %}" alt="pt.png"/></div>
                <div><img src="{% static 'frontend/assets/img/icons/socialContent/ml.png' %}" alt="ml.png"/></div>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <article class="Article">
            <div class="Article-section">
              <div class="row row_verticalCenter row_maxHalf">
                <div class="row-block">
                  <h2>Почему вы выбрали Shine?
                  </h2>
                  <p>Мы ваш надежный партнер в мире компьютерных комплектующих. Мы предлагаем широкий ассортимент высококачественных компонентов для сборки, апгрейда и ремонта компьютеров. От процессоров и видеокарт до материнских плат и блоков питания — у нас есть все, что нужно для создания мощного и надежного ПК.
                  </p>
                  <p>Мы гордимся тем, что предоставляем нашим клиентам не только качественные товары, но и высокий уровень сервиса. Наша команда экспертов всегда готова помочь вам с выбором компонентов, ответить на ваши вопросы и предоставить консультации по сборке и настройке. Мы ценим каждого клиента и стремимся обеспечить индивидуальный подход к каждому заказу.
                  </p>
                  <div><a class="btn btn_primary" href="#">Начать работу</a>
                  </div>
                </div>
                <div class="row-block">
                  <div class="pict"><img src="{% static 'frontend/assets/img/content/home/slider.png' %}" alt="slider.png"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="Article-section">
              <div class="row row_verticalCenter row_maxHalf">
                <div class="row-block">
                  <div class="pict"><img src="{% static 'frontend/assets/img/content/home/bigGoods.png' %}" alt="bigGoods.png"/>
                  </div>
                </div>
                <div class="row-block">
                  <h2>История магазина Shine
                  </h2>
                  <p>Магазин Shine был основан в 2020 году группой энтузиастов, которые увлечены компьютерной техникой и технологическими новинками. С самого начала мы стремились создать платформу, где каждый мог бы найти все необходимые комплектующие для создания идеальной рабочей станции или игровой системы. Наша команда понимает, что выбор компьютерной техники может быть сложным, поэтому мы с гордостью предлагаем широкий ассортимент продуктов от известных брендов, а также подробные и доступные консультации по выбору. Мы оперативно реагируем на запросы наших клиентов и внедряем новейшие тенденции в мире технологий, чтобы оставаться на переднем крае.
                  </p>
                  <ul>
                    <li>Мы предлагаем широкий выбор комплектующих для любой компьютерной техники
                    </li>
                    <li>Наша команда состоит из опытных специалистов, готовых помочь с выбором
                    </li>
                    <li>Мы регулярно обновляем ассортимент в соответствии с последними технологиями
                    </li>
                    <li>У нас доступны различные способы доставки и оплаты для удобства клиентов
                    </li>
                    <li>Мы предлагаем гарантии на все товары, чтобы обеспечить спокойствие покупателей
                    </li>
                    <li>Shine – это более чем магазин, это сообщество любителей технологий
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
{% endblock %}